/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 4rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 85%, 70%);
    --first-color-second: hsl(var(--hue-color), 85%, 70%);
    --first-color-alt: hsl(var(--hue-color), 75%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 95%, 90%);
    --title-color: hsl(var(--hue-color), 15%, 25%);
    --text-color: hsl(var(--hue-color), 15%, 35%);
    --text-color-light: hsl(var(--hue-color), 15%, 75%);
    --input-color: hsl(var(--hue-color), 75%, 95%);
    --body-color: hsl(var(--hue-color), 65%, 99%);
    --container-color: #FFFFFF;
	
	/*========== Font and typography ==========*/
	--body-font: "SF Mono Semibold";

	/*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
    --h6-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4-5: 4.5rem;
    --mb-6: 6rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
     /* HSL color mode */
     --first-color-second: hsl(var(--hue-color), 30%, 10%);
     --title-color: hsl(var(--hue-color), 10%, 95%);
     --text-color: hsl(var(--hue-color), 10%, 75%);
     --text-color-light: hsl(var(--hue-color), 20%, 80%);
     --input-color: hsl(var(--hue-color), 30%, 15%);
     --body-color: hsl(var(--hue-color), 30%, 10%);
     --container-color: hsl(var(--hue-color), 30%, 15%);
     
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
    margin-right: .075fr;
}

.change-theme {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

section {
    min-height: calc(100vh - 3px);
}

.vertical {
            border-left: 2px solid var(--text-color-light);
            height: 45vh;
            position:relative;
            border-radius: 3px;
            margin-top: 50px;
            
}

#line1 {
    top: 3rem;
    height: 45vh;
    position: fixed;
    left: 3rem;
    z-index: 100;
}

#line2 {
    top: 3rem;
    height: 55vh;
    position: fixed;
    right: 1.5rem;
    z-index: 100;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size)
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section, .section_subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768 px;
    margin-left: var(--mb-1-5);
    margin-left: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    opacity: 90%;
}

/*==================== NAV ====================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__logo, .nav__toggle {
    width: 3rem;
    height: 3rem;
    transform: translateY(40%);

}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/