/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 4rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 85%, 70%);
    --first-color-second: hsl(var(--hue-color), 85%, 70%);
    --first-color-alt: hsl(var(--hue-color), 75%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 95%, 90%);
    --title-color: hsl(var(--hue-color), 15%, 25%);
    --text-color: hsl(var(--hue-color), 15%, 35%);
    --text-color-light: hsl(var(--hue-color), 15%, 75%);
    --input-color: hsl(var(--hue-color), 75%, 95%);
    --body-color: hsl(var(--hue-color), 65%, 99%);
    --container-color: #FFFFFF;
	
	/*========== Font and typography ==========*/
	--body-font: "SF Mono Semibold";

	/*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
    --h6-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4-5: 4.5rem;
    --mb-6: 6rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --larger-font-size: 4.5rem;
        --bigger-font-size: 4rem;
        --large-font-size: 3.5rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
     /* HSL color mode */
     --first-color-second: hsl(var(--hue-color), 30%, 10%);
     --title-color: hsl(var(--hue-color), 10%, 85%);
     --text-color: #939393;
     --text-color-light: #939393;
     --input-color: hsl(var(--hue-color), 30%, 15%);
     --body-color: #181818;
     --container-color: hsl(var(--hue-color), 30%, 15%);
     
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
    margin-right: var(--mb-1-5);
    margin-top: var(--mb-1);
}

.change-theme {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.vertical {
            border-left: 2px solid var(--text-color-light);
            height: 45vh;
            position:relative;
            border-radius: 3px;
            margin-top: 50px;
            
}

#line1 {
    top: 3rem;
    height: 45vh;
    position: fixed;
    left: 3rem;
    z-index: 100;
}

#line2 {
    top: 3rem;
    height: 55vh;
    position: fixed;
    right: 3rem;
    z-index: 100;
}

.scrollsection {
    position: fixed;
    background-color: var(--body-color);
    font-family: "SF Mono Bold";
    font-size: var(--small-font-size);
    right: 1.5%;
    top: 30%;
    z-index: 100;
    height: 7.5vh;
    display: flex;
    align-items: center;
    
}


/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
    scroll-snap-align: center;
    height: 100vh;
}

.footer {
    scroll-snap-align: center;
}

.section__title {
    font-size: var(--h1-font-size)
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section, .section_subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768 px;
    margin-left: var(--mb-1-5);
    margin-left: var(--mb-1-5);
    scroll-snap-align: center;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    opacity: 90%;
}

/*==================== NAV ====================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__logo, .nav__toggle {
    width: 3rem;
    height: 3rem;
    transform: translateY(40%);

}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home__container {
    gap: 1rem;
}

.home__content{
    padding-top: 1.5rem;
    justify-content: center;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-3);
}

.social__media {
    position: fixed;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);   
    height: 35vh;
    top: 57%;
    left: 2.5rem;
    z-index: 100;
}

.email {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    right: var(--mb-2-5);
    top: 67.5%;
    z-index: 100;
}

.email-name {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--h6-font-size);
    color: var(--title-color);
    margin-top: 5vh;
}

.email-name:hover {
    color: var(--first-color)
}

.home__social-icon, .social__media-icon {
    font-size: 1.25rem;
    color: var(--text-color);
}



#linkedin-img, #github-img, #instagram-img, #facebook-img {
    position: fixed;
    width: 2.25rem;
    height: 2.25rem;
    transform: translate(-75%,-20%);
    opacity: 0;
    transition: all 0.4s ease;

}
#linkedin-img:hover, #github-img:hover, #instagram-img:hover, #facebook-img:hover {
    opacity: 1;
}



.home-img {
    width: auto;
    height: 40vh;
    position: relative;
    padding-bottom: var(--mb-3);
}



.home__data {
    grid-column: auto auto;
}

.home__title {
    font-size: var(--big-font-size);
    font-family: "SF Mono Heavy";
    margin-bottom: var(--mb-4-5);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-csolor);
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-3);
    margin-left: var(--mb-6);
    margin-right: var(--mb-6);
    line-height: 35px;
}


.home__scroll {
    position: relative;
    margin-top: 10vh;
    
}

.home__scroll-button {
    color: var(--first-color);
    transition: .5s;
}

.home__scroll-button:hover {
    transform: translateY(.5rem);
}

.home__scroll-mouse  {
    font-size: 2rem;
    padding-right:var(--mb-1);
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    padding-left: 0.75rem;
    font-size: 2rem;
}


#container {
	text-align: center;
}

#text {
	display:inline-block;
	vertical-align: text-top;
	color: var(--text-color);
	letter-spacing: 2px;
}

#cursor {
	display:inline-block;
	vertical-align: text-top;
	width: 3px;
	height: 2vh;
	background-color: var(--first-color-alt);
	animation: blink .5s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent ;
	}
	50% { 
		background-color: var(--text-color);
	}
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFFFFF;
    padding: 1.25rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-4-5);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


.portfolio__title {
    font-family: "SF Mono Heavy";
    margin-bottom: var(--mb-6); 
}

.portfolio__image {
    width: 60vw;
    position: relative;

}

.portfolio__container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    position: relative;
}

@font-face {
    font-family:"Garamond Bold";
    src: url("../fonts/EB_Garamond/static/EBGaramond-Bold.ttf") format("truetype");
}

.portfolio__text {
    font-family: "Garamond Bold";
    font-size: var(--h1-font-size);
    color: var(--text-color);
}

.uil-google-drive {
    font-size: var(--mb-2);
    color: #939393;
}

.uil-google-drive:hover {
    color: var(--first-color);
    cursor: pointer;
}

.image__img {
    display: block;
    width: 100%;
    color: #181818;     
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    background-color: #fff;
}

.overlay {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: linear-gradient(90deg,
          rgba(256, 256, 256, 0.1) 0%,
          rgba(256, 256, 256, 0.1) 50%,
          rgba(211, 219, 222, 0.9) 50%,
          rgba(211, 219, 222, 0.9) 100%);
      background-size: 200%;
      transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.15s;
}

.overlay:hover {
    position: absolute;
    cursor: pointer;
    background-position: -100% 100%;
}

#ponddepthoverlay:hover {
    background-position: 100% -100%;
    
}

.image__overlay-bottom {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 80%;
    width: 80%;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 10px 10px #222222);
    filter: drop-shadow(5px 10px 10px #222222);

}

#ponddepthhoverimg {
    top: 5%;
    left: 0;
    height: 105%;
    width: 105%;
}


.image__overlay-title {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40%;
    height: 40%;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 5px 10px #222222);
    filter: drop-shadow(5px 5px 10px #222222);
}

#ponddepthlogo {
    left: -5%;
    top:-10%;
    width: 35%;
    height: 35%;
}

.image__overlay-number {
    position: absolute;
    top: -10%;
    left: -5%;
    opacity: 0;
    font-size: 3rem;
    width: 30%;
    height: 30%;
    filter: opacity(0.4) drop-shadow(0 0 0 var(--text-color-light));
    z-index: 10;
    pointer-events: none;
    filter: opacity(0.7) drop-shadow(0 0 0 var(--text-color-light));
    transition: 1.5s;
}

#portfolionumber2 {
    left: 75%
}

#badmintonplushoverimg {
    position: absolute;
    width:35%;
    height:35%;
    left: 55%;
    top: 30%;
}

#badmintonlogooverimg {
    width:25%;
    height:25%;
    top: 40%;
    left:20%;
}

#cornellbadminton {
    top: 8%;
    right: 3%;
}

#one {
    -webkit-filter: drop-shadow(5px 5px 10px var(--text-color));
    filter: drop-shadow(5px 5px 10px var(--text-color));
}

#two {
    -webkit-filter: drop-shadow(5px 5px 10px var(--text-color));
    filter: drop-shadow(5px 5px 10px var(--text-color));
}

#three {
    -webkit-filter: drop-shadow(5px 5px 10px var(--text-color));
    filter: drop-shadow(5px 5px 10px var(--text-color));
}



/*==================== FOOTER ====================*/
.designedby {
    font-family: "Menlo Regular";
    text-align: center;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    position: relative;
}


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* total width */

::-webkit-scrollbar {
    background-color: var(--body-color);
    width:16px;
    transform: translateX(20%);
    
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:var(--body-color);
    
}


/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid var(--body-color);
    -webkit-transform: translateX(20%);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


@media screen and (max-height: 500px) {

    .portfolio__container {
        margin-left:  var(--mb-1);
        margin-right: var(--mb-1);
    }

    .portfolio {
        height: 80vh;
    }

    .portfolio__container {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .home__data {
        display: none;
    }

    .footer {
        margin-top: 30rem;
    }

}

@media screen and (max-width: 350px), (max-height: 550px) {
    .container {
        margin-left:  var(--mb-1);
        margin-right: var(--mb-1);
    }

    #line1, #line2 {
        display: none;
    }

    .social__media, .email-name {
        display: none;
    }

    .home__data {
        order: 2;
    }

    .home-img {
        height: 70vh;
    }

    .portfolio {
        height: 50vh;
    }

    .home__description {
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
    }

    .home__title {
        margin-bottom: var(--mb-6);
    }


    .home__scroll {
        display:none
    }

    .social__media {
        display:none
    }

    .email {
        display:none
    }

    .designedby {
        margin-top: 8rem;
    }

    .home__data {
        display: none;
    }
    
    .section {
        margin-top: 20rem;
        margin-bottom: 20rem;
    }

}

/* For medium devices */
@media screen and (max-width: 720px) {
    .home__data {
        grid-column: initial;
        order: 5;
    }

    .home-img {
        margin-bottom: var(--mb-3);
        height: auto;
        width: auto;
    }
 
    #line1, #line2 {
        display: none;
    }

    .social__media, .email-name {
        display:none;
    }

    .portfolio {
        height: 50vh;
    }

    .home__title {
        margin-bottom: var(--mb-6);
    }


    
}



/* For large devices */

@media screen and (min-width: 1024px) {


    .portfolio__image {
        width: 42.5vw;
    }
    
    .home__img {
        margin-bottom: var(--mb-3);
    }



}

@media screen and (min-width: 1536px) {

    .portfolio__image {
        width: 45vw;
    }

    .home__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--mb-6);
    }

    .home__container {
        height: inherit;    
    }

    .home__img {
        width: 100vh;
        height: auto;
        position: relative;
        top: -70%;
    }

    .home__data {
        position: relative;
        left: -10%;
        top: -28%;
    }
    

    .home__title {
        font-size: var(--large-font-size);
        font-family: "SF Mono Heavy";
    }
    
    .home__subtitle{
        font-size: var(--h2-font-size);
        color: var(--text-csolor);
    }
    
    .home__description {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-3);
    }


    .portfolio__container {
        top: 25%;
    }

    .home-img {
        width: 35vw;
        height: auto;
    }

}

@media screen and (min-width: 2048px) {
    .portfolio__image {
        width: 50vw;
    }

    .home__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--mb-6);
    }

    .home__container {
        height: inherit;    
    }

    .home__img {
        height: 50vh;
        position: relative;
        top: -80%;
    }

    .home__data {
        position: relative;
        left: -7.5%;
        top: -20%;
    }

    .home__title {
        font-size: var(--bigger-font-size);
        font-family: "SF Mono Heavy";
    }
    
    .home__subtitle{
        font-size: var(--h1-font-size);
        color: var(--text-csolor);
    }
    
    .home__description {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-3);
    }

    .portfolio__container {
        top: 20%;
    }

    .home-img {
        width: 40vw;
        height: auto;
    }

}
