/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 4rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 85%, 70%);
    --first-color-second: hsl(var(--hue-color), 85%, 70%);
    --first-color-alt: hsl(var(--hue-color), 75%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 95%, 90%);
    --title-color: hsl(var(--hue-color), 15%, 25%);
    --text-color: hsl(var(--hue-color), 15%, 35%);
    --text-color-light: hsl(var(--hue-color), 15%, 75%);
    --input-color: hsl(var(--hue-color), 75%, 95%);
    --body-color: hsl(var(--hue-color), 65%, 99%);
    --container-color: #FFFFFF;
	
	/*========== Font and typography ==========*/
	--body-font: "SF Mono Semibold";

	/*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
    --h6-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4-5: 4.5rem;
    --mb-6: 6rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
     /* HSL color mode */
     --first-color-second: hsl(var(--hue-color), 30%, 10%);
     --title-color: hsl(var(--hue-color), 10%, 95%);
     --text-color: hsl(var(--hue-color), 10%, 75%);
     --text-color-light: hsl(var(--hue-color), 20%, 80%);
     --input-color: hsl(var(--hue-color), 30%, 15%);
     --body-color: hsl(var(--hue-color), 30%, 10%);
     --container-color: hsl(var(--hue-color), 30%, 15%);
     
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
    margin-right: .075fr;
}

.change-theme {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

section {
    min-height: calc(100vh - 3px);
}

.vertical {
            border-left: 2px solid var(--text-color-light);
            height: 45vh;
            position:relative;
            border-radius: 3px;
            margin-top: 50px;
            
}

#line1 {
    top: 3rem;
    height: 45vh;
    position: fixed;
    left: 3rem;
    z-index: 100;
}

#line2 {
    top: 3rem;
    height: 55vh;
    position: fixed;
    right: 1.5rem;
    z-index: 100;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size)
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section, .section_subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768 px;
    margin-left: var(--mb-1-5);
    margin-left: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    opacity: 90%;
}

/*==================== NAV ====================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__logo, .nav__toggle {
    width: 3rem;
    height: 3rem;
    transform: translateY(40%);

}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/

.home__data {
    
    padding-left: var(--mb-3);
    padding-right: var(--mb-3);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.title__img {
    max-width: 60vw;
    height: auto;
}

.title {
    font-family: "SF Mono Heavy";
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-5);
}

.subtitle {
    font-size: var(--smaller-font-size);
}

.description {
    font-size: var(--h6-font-size);
    font-family: "Monaco", monospace;
    font-style: italic;
    margin: 2rem;
}

.project__madeby {
    font-size: var(--normal-font-size);
}

.project__exposure {
    font-size: var(--h3-font-size);
}

.project__time {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1-5);
}

.project__skills-img {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

.solidworks {
    width: 30vw;
    height: auto;
    margin-top: -1rem;
}

.latex {
    width: 11vw;
    height: auto;
}

.ansys {
    width: 15vw;
    height: auto;
}

.fusion {
    width:30vw;
    height: auto;
}

.social__media {
    position: fixed;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);   
    height: 35vh;
    top: 57%;
    left: 2.5rem;
    z-index: 100;
}

.email {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    right: 1rem;
    top: 67.5%;
    z-index: 100;
}

.email-name {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--h6-font-size);
    color: var(--title-color);
    margin-top: 5vh;
}

.email-name:hover {
    color: var(--first-color)
}

.home__social-icon, .social__media-icon {
    font-size: 1.25rem;
    color: var(--text-color);
}



#linkedin-img, #github-img, #instagram-img, #facebook-img {
    position: fixed;
    width: 2.25rem;
    height: 2.25rem;
    transform: translate(-75%,-20%);
    opacity: 0;
    transition: all 0.4s ease;

}
#linkedin-img:hover, #github-img:hover, #instagram-img:hover, #facebook-img:hover {
    opacity: 1;
}




/*=================== MEDIA QUERIES ===================*/
@media screen and (max-width: 350px) {
    .container {
        margin-left:  var(--mb-1);
        margin-right: var(--mb-1);
    }



    #line1, #line2 {
        display: none;
    }

    .social__media, .email-name {
        display: none;
    }

}

/* For medium devices */
@media screen and (max-width: 720px) {



    .skills__container {

    }



    #line1, #line2 {
        display: none;
    }

    .social__media, .email-name {
        display:none;
    }
}

/* For large devices */

@media screen and (max-width: 1023px) {



    
}

@media screen and (min-width: 1024px) {




}