/*
COLOR PALETTE
https://coolors.co/f3f3f3-c9af98-b73225-5cbdb9-004e7c-3a4660-3c4958-283747
#F3F3F3 - white
#C9AF98 - tan
#B73225 - orange-red
#5CBDB9 - blue-green
#004E7C - blue
#3A4660 - dark blue
#3C4958 - light gray
#283747 - dark gray

#8FB8ED 
#62BFED
#62ACB5

*/

/*==================== GOOGLE FONTS ====================*/


/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 4rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 85%, 70%);
    --first-color-second: hsl(var(--hue-color), 85%, 70%);
    --first-color-alt: hsl(var(--hue-color), 75%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 95%, 90%);
    --title-color: hsl(var(--hue-color), 15%, 25%);
    --text-color: hsl(var(--hue-color), 15%, 35%);
    --text-color-light: hsl(var(--hue-color), 15%, 75%);
    --input-color: hsl(var(--hue-color), 75%, 95%);
    --body-color: hsl(var(--hue-color), 65%, 99%);
    --container-color: #FFFFFF;
	
	/*========== Font and typography ==========*/
	--body-font: "SF Mono Semibold";

	/*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
    --h6-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-6: 6rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
     /* HSL color mode */
     --first-color-second: hsl(var(--hue-color), 30%, 10%);
     --title-color: hsl(var(--hue-color), 10%, 95%);
     --text-color: hsl(var(--hue-color), 10%, 75%);
     --text-color-light: hsl(var(--hue-color), 10%, 90%);
     --input-color: hsl(var(--hue-color), 30%, 15%);
     --body-color: hsl(var(--hue-color), 30%, 10%);
     --container-color: hsl(var(--hue-color), 30%, 15%);
     
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
    margin-right: .075fr;
}

.change-theme {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

section {
    min-height: calc(100vh - 3px);
}


/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size)
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section, .section_subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768 px;
    margin-left: var(--mb-1-5);
    margin-left: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    opacity: 90%;
}

/*==================== NAV ====================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-family: "SF Mono Heavy";
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home__container {
    gap: 1rem;
}

.home__content{
    grid-template-columns: 30px 1fr 60px;

    padding-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

.home__social1 {
    margin-top: 15vh;
}

.home__social2 {
    margin-top: 10vh;
}

.home__social1, .home__social2 {
    display: grid;
    row-gap: 1.5rem;
    align-items: space-around;
    height: 80%;
    
}


.social__media {
    display: grid;
    row-gap: 3rem;
    align-items: center;
    margin-top: 10vh;
}

.email-name {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-top: 5vh;
}

.email-name:hover {
    color: var(--first-color)
}

.home__social-icon, .social__media-icon {
    font-size: 1.5rem;
    color: var(--text-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.social__media-icon:hover {
    color: var(--first-color);
}


.home__img {
    margin: auto;
    display: grid;
    height: max-content;
}


.home__blob {
    width: 100%;
    fill: #BAE6FF;
}



.home__data {
    grid-column: auto auto;
}

.home__title {
    font-size: var(--big-font-size);
    font-family: "SF Mono Heavy";
    margin-bottom: var(--mb-3);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-csolor);
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-3);
}

.home__scroll {
    /* display: none; */
}

.home__scroll-button {
    color: var(--first-color);
    transition: .5s;
}

.home__scroll-button:hover {
    transform: translateY(.5rem);
}

.home__scroll-mouse  {
    font-size: 2rem;
    padding-right:var(--mb-1);
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    padding-left: 0.75rem;
    font-size: 2rem;
}


#container {
	text-align: center;
}

#text {
	display:inline-block;
	vertical-align: middle;
	color: var(--text-color);
	letter-spacing: 2px;
}

#cursor {
	display:inline-block;
	vertical-align: middle;
	width: 3px;
	height: 2vh;
	background-color: var(--first-color-alt);
	animation: blink .5s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent ;
	}
	50% { 
		background-color: var(--text-color);
	}
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFFFFF;
    padding: 1.25rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-6);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}


/*==================== QUALIFICATION ====================*/
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h6-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.5rem;
    margin-right: var(--mb-0-25);
}

.qualification__sections {
    margin-top: 10vh;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}


.qualification__calender {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}

.skills__container {
    row-gap: 0;
    justify-content: center;

    /** flex-wrap: wrap;
    display: flex;
    flex-direction: row; **/
    
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon, .skills__arrow {
    font-size: 1.5rem;
    color: var(--first-color);
}

.skills__icon {
    margin-right: var(--mb-2);
}

.skills__title {
    font-size: var(--normal-font-size);
}

.skills__arrow {
    margin-left: auto;
    transition: .4s;
}

.skills__titles {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.skills__description {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.skills__list {
    row-gap: 1rem;
    padding-left:  2.5rem;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden; 
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


.portfolio__image {
    width: 60vw;
    position: relative;

}

.portfolio__container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.image__textbox {
    position: relative;
    width: 30vw;
    height: inherit;
    left: 85%;
    transform: translateX(-85%);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    

}

.image__title {
    margin: 10px 10px 10px 10px;
}

.image__text {
    font-size: var(--smaller-font-size);
    color: #fff;
    margin: 10px 10px 10px 10px;
}

.image__img {
    display: block;
    width: 100%;
    color: var(--first-color);
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: linear-gradient(90deg,
          rgba(256, 256, 256, 0.1) 0%,
          rgba(256, 256, 256, 0.1) 50%,
          rgba(211, 219, 222, 0.9) 50%,
          rgba(211, 219, 222, 0.9) 100%);
      background-size: 200%;
      transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.15s;
}

.overlay:hover {
    position: absolute;
    cursor: pointer;
    background-position: -100% 100%;
}

.image__overlay-bottom {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 80%;
    width: 80%;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 10px 10px #222222);
    filter: drop-shadow(5px 10px 10px #222222);

}

.image__overlay-title {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40%;
    height: 40%;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 5px 10px #222222);
    filter: drop-shadow(5px 5px 10px #222222);
}

.image__overlay-number {
    position: absolute;
    top: -10%;
    left: -5%;
    opacity: 0;
    font-size: 3rem;
    width:30%;
    height:30%;
    filter: opacity(0.4) drop-shadow(0 0 0 var(--text-color-light));
    z-index: 10;
    pointer-events: none;

    filter: opacity(0.7) drop-shadow(0 0 0 var(--text-color-light));
    
    transition: 1.5s;

}

.one {
    -webkit-filter: drop-shadow(5px 5px 10px #222222);
    filter: drop-shadow(5px 5px 10px #222222);
}




/*==================== FOOTER ====================*/
.designedby {
    font-family: "Menlo Regular";
    text-align: center;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/
/* total width */
::-webkit-scrollbar {
    background-color: var(--body-color);
    width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:var(--body-color)
}


/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid var(--body-color);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}



/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left:  var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .qualification__data {
        gap: .5rem
    }
}

/* For medium devices */


/* For large devices */